.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content max-content min-content;
}

header {
  display: grid;
  padding: 1em;
  height: min-content;
  border-bottom: 1px solid darkgray;
}

main {
  height: fit-content;
}

footer {
  border-top: 1px solid darkgrey;
}