.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content max-content min-content;
}

header {
  display: grid;
  padding: 1em;
  height: min-content;
  border-bottom: 1px solid darkgray;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 2px 6px rgb(224, 224, 224);
}

.web-title {
  grid-column: 1/2;
  margin: 2px;
}

.site-links {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.nav-btn {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 1em;
  background-color: white;
}

main {
  height: fit-content;
}

footer {
  border-top: 1px solid darkgrey;
  padding: 3em;
  text-align: center;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}
